*.vscode*
*.ruff_cache*
*__pycache__*
.ipynb_checkpoints
.git/*
dist
dist_old
development
*.egg-info*
*build*
*build/clear*
*build/doctrees*
*dev_*
literature/*
presentation/*
.cache
.devcontainer/*
.coverage
build.txt
gist.githubusercontent*
.direnv/*
.venv/*
.envrc
default.nix
*.vscode
